.about {
  background-color: var(--clr-neutral-800);
  padding-top: var(--size-700);
  overflow: hidden;

  @include breakpoint-up(mobile-small) {
    padding-top: var(--size-800);
  }
  @include breakpoint-up(mobile-medium) {
    padding-top: var(--size-850);
  }

  @include breakpoint-up(tablet-medium) {
    padding-top: var(--size-900);
  }

  @include breakpoint-up(desktop-small) {
    padding-bottom: var(--size-400);
  }

  @include breakpoint-up(desktop-medium) {
    padding-top: 12rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    @include breakpoint-up(tablet-medium) {
      flex-direction: row;
    }
  }

  &__information {
    width: 100%;
  }

  &__title {
    color: var(--clr-neutral-100);
    font-size: var(--fs-section-heading);
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: var(--size-600);

    @include breakpoint-up(mobile-small) {
      margin-bottom: var(--size-700);
    }

    @include breakpoint-up(desktop-medium) {
      margin-bottom: var(--size-800);
    }
  }

  &__paragraph {
    color: var(--clr-neutral-200);
    margin-block: var(--size-500);

    @include breakpoint-up(tablet-medium) {
      max-width: 45ch;
    }

    @include breakpoint-up(desktop-medium) {
      font-size: 1.125rem;
    }
  }

  &__link {
    display: inline-block;
    color: var(--clr-accent-200);
    transition: color 0.3s var (--animation-timing);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: 100%;
      transform: scaleX(0);
      bottom: 0;
      left: 0;
      transform-origin: bottom right;
      border-radius: 5px;
      background-color: var(--clr-accent-200);
      transition: transform 0.3s var(--animation-timing);
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  &__image-wrapper {
    overflow: hidden;
    border-radius: 3rem;
    min-width: 30%;

    @include breakpoint-up(tablet-medium) {
      align-self: flex-start;
    }

    &:hover {
      .about__image {
        filter: none;
        transform: scale(1.05);
      }
    }
  }

  &__image {
    aspect-ratio: 1 / 1;
    border-radius: 3rem;
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: filter 0.3s ease, transform 0.3s ease;
    filter: grayscale(90%) brightness(90%);
  }
}
