.contact {
  background-color: var(--clr-neutral-900);
  padding-top: var(--size-700);
  padding-bottom: var(--size-500);
  overflow: hidden;

  @include breakpoint-up(mobile-small) {
    padding-top: var(--size-800);
    padding-bottom: var(--size-500);
  }

  @include breakpoint-up(tablet-medium) {
    &__wrapper {
      display: flex;
      gap: 4em;
    }

    padding-block: var(--size-850);
  }

  @include breakpoint-up(desktop-small) {
    padding-block: var(--size-900);
  }

  @media (min-width: 75em) {
    &__wrapper {
      gap: 6em;
    }

    padding-block: 8rem;
  }

  &__title {
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: var(--fs-section-heading);
    margin-bottom: var(--size-700);
    z-index: 5;

    @include breakpoint-up(mobile-small) {
      margin-bottom: var(--size-700);
    }

    @include breakpoint-up(tablet-medium) {
      margin-bottom: var(--size-850);
    }

    @include breakpoint-up(desktop-small) {
      margin-bottom: var(--size-850);
    }

    @media (min-width: 75em) {
      margin-bottom: var(--size-900);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--size-400);
    width: 100%;
    z-index: 5;
  }

  &__info {
    width: 100%;
    z-index: 5;
  }

  &__label {
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: var(--fs-450);
    margin-block: var(--size-100);
    z-index: 5;
  }

  &__input {
    background-color: var(--clr-neutral-800);
    border: 1px solid var(--clr-neutral-700);
    border-radius: 5px;
    padding: 0.4em 1em;
    color: var(--clr-neutral-200);
    outline: 0px dashed transparent;
    outline-offset: 0;
    transition: all 0.3s var(--animation-timing),
      outline-offset 0.125s var(--animation-timing),
      outline 0.125s var(--animation-timing);
    z-index: 5;

    &--textarea {
      resize: none;
      z-index: 5;
    }

    &:focus {
      outline: 1px dashed var(--clr-neutral-300);
      outline-offset: 2px;
    }

    &--touched:required:valid {
      border: 1px solid var(--clr-accent-200);
    }

    &--touched:required:invalid {
      border: 1px dashed var(--clr-accent-300);
      border-spacing: 100px;

      & + .contact__error {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__error {
    font-size: var(--fs-300);
    color: var(--clr-accent-300);
    margin-bottom: var(--size-300);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s var(--animation-timing);
    z-index: 5;
  }

  &__buttons {
    margin-block: var(--size-300);
    z-index: 5;
  }

  &__methods {
    margin-top: var(--size-500);
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 5;

    @include breakpoint-up(mobile-small) {
      margin-top: var(--size-500);
      margin-bottom: var(--size-200);
    }

    @include breakpoint-up(tablet-medium) {
      margin-top: var(--size-400);
      margin-bottom: var(--size-200);
    }
  }

  &__method {
    color: var(--clr-neutral-200);
    font-size: var(--fs-400);
    z-index: 5;
  }

  &__tagline {
    padding-top: var(--size-500);
    text-transform: uppercase;
    font-size: var(--fs-200);
    z-index: 5;

    @include breakpoint-up(mobile-small) {
      padding-top: var(--size-600);
    }
    @include breakpoint-up(tablet-medium) {
      padding-top: 0.55rem;
    }
    @include breakpoint-up(desktop-small) {
      padding-top: 0.6rem;
    }
  }

  &__subheading {
    font-size: var(--fs-450);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-100);
    z-index: 5;

    @include breakpoint-up(desktop-small) {
      font-size: var(--fs-500);
      font-weight: var(--fw-bold);
    }
  }

  &__link {
    display: inline-flex;
    gap: 0.55em;
    align-items: center;
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
    transition: all 0.25s ease;
    margin-left: 0.15rem;
    z-index: 5;

    svg {
      font-size: 1.2em;

      > path {
        transition: fill-opacity 0.25s ease, stroke-opacity 0.25s ease;
      }
    }

    &:hover {
      color: var(--clr-neutral-100);

      svg > path {
        stroke-opacity: 1;
        fill-opacity: 1;
      }
    }
  }
}
