html {
  background-color: var(--clr-neutral-800);
  scroll-padding-top: 6.25rem;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-200);
  line-height: var(--lh-body);
}

strong {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-600);
  border: 3px solid var(--clr-neutral-900);
  border-radius: 10px;

  &:hover {
    background-color: var(--clr-neutral-500);
  }
}

::-webkit-scrollbar-track {
  background: var(--clr-neutral-900);
}

// Utility

.container {
  --max-width: 75em; // 1200px
  --horizontal-padding: 1.5rem;

  width: min(var(--max-width), 100% - var(--horizontal-padding) * 2);
  margin-inline: auto;
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-600 {
  padding-block: var(--size-600);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.padding-block-300 {
  padding-block: var(--size-300);
}

.padding-block-200 {
  padding-block: var(--size-200);
}

.padding-block-100 {
  padding-block: var(--size-100);
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-gap-1 {
    gap: 1em;
  }

  &-gap-2 {
    gap: 2em;
  }

  &-gap-3 {
    gap: 3em;
  }
}

.column {
  flex-basis: 100%;
}

.column-45 {
  flex-basis: 45%;
}

.column-55 {
  flex-basis: 55%;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.floating-cta {
  position: fixed !important;
  z-index: 9;
  right: 2rem;
  bottom: 2rem;
  background-color: var(--clr-primary-400);
  padding: 1rem;
  border-radius: 100%;
  transition: all 0.3s var(--animation-timing);
  color: var(--clr-neutral-100);
  opacity: 0.85;

  > svg {
    height: 1.5rem;
    width: 1.5rem;
    transition: all 0.3s var(--animation-timing);
  }

  @media (prefers-reduced-motion: no-preference) {
    &:hover {
      transform: scale(1.125);
      opacity: 1;

      > svg {
        transform: rotateY(180deg);
      }
    }

    &:active {
      transform: scale(0.9);

      > svg {
        transform: rotateY(0deg);
      }
    }
  }

  @include breakpoint-up(tablet-small) {
    padding: 1rem;

    > svg {
      height: 2rem;
      width: 2rem;
    }
  }

  @include breakpoint-up(desktop-small) {
    right: 2rem;
    bottom: 2rem;
  }

  @include breakpoint-up(desktop-medium) {
    right: 4rem;
    bottom: 4rem;
  }

  &--hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px) scaleX(0.2) scaleY(0.5);
  }
}

@include breakpoint-up(tablet-small) {
  .display-tablet-sm-flex-up {
    display: flex;
    flex-direction: row;
  }
}

@include breakpoint-up(tablet-medium) {
  .display-tablet-md-flex-up {
    display: flex;
    flex-direction: row;
  }

  .display-tablet-md-block-up {
    display: block;
  }

  .hidden-tablet-md-up {
    display: none;
  }
}

.heading-underline {
  text-decoration: none;
  position: relative;
}

.heading-underline::after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  height: 6px;
  width: 2.35em;
  background: var(--clr-primary-400);
  border-radius: 7px;
}

.vertical-line {
  height: 400px;
  width: 3px;
  background-color: var(--clr-neutral-800);
  border-radius: 7px;
}

.horizontal-line {
  height: 3px;
  background-color: var(--clr-neutral-800);
  border-radius: 7px;
}

.overflow-hidden {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.tooltip {
  &__box {
    position: absolute;
    max-width: 250px;
    bottom: 20%;

    padding-bottom: 4px;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.25s, visibility 1ms 0.25s;

    .tooltip.tooltip--active:hover &,
    .tooltip.tooltip--active:focus-within & {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.25s;
    }

    .tooltip.tooltip--active:hover & {
      transition: opacity 0.25s 0.5s;
    }

    .tooltip__text {
      display: block;
      background: var(--clr-primary-400);
      color: var(--clr-neutral-100);
      padding: 1.2rem 1rem;
      font-size: var(--fs-300);
      border-radius: 4px;
      text-align: center;
      -webkit-font-smoothing: initial;
      -moz-osx-font-smoothing: initial;
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0.4rem 1rem;
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-bold);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--clr-neutral-700);
  color: white;
  transition: color 0.3s var(--animation-timing),
    background 0.3s var(--animation-timing);
  justify-content: center;

  &__text {
    white-space: nowrap;
    transition: transform 0.3s var(--animation-timing);

    &--fw-regular {
      font-weight: var(--fw-regular);
    }
  }

  @include breakpoint-up(mobile-small) {
    padding: 0.6rem 1.5rem;
  }

  &__prepend {
    margin-right: 0.4em;
    min-width: 1em;
    font-size: 1.3em;
    transition: transform 0.3s var(--animation-timing);

    @include breakpoint-up(mobile-small) {
      margin-right: 0.35em;
    }

    &--small {
      font-size: 1.1em;
    }

    svg > path {
      transition: color 0.3s var(--animation-timing),
        background 0.3s var(--animation-timing),
        fill 0.3s var(--animation-timing), stroke 0.3s var(--animation-timing),
        transform 0.3s var(--animation-timing);
    }
  }

  &--primary {
    background-color: var(--clr-primary-400);

    &:hover:not(.disabled-link) {
      background-color: var(--clr-accent-400);
    }

    // If no motion preference, not disabled, has
    // sibling with prepend and is a button--primary
    // then animate the icon and text.
    // @media (prefers-reduced-motion: no-preference) {
    //   &:hover:not(.disabled-link) {
    //     .button__prepend {
    //       transform: translateX(3rem) rotateX(90deg);
    //     }
    //     .button__prepend + .button__text {
    //       transform: translateX(-0.55rem);
    //     }
    //   }
    // }
  }

  &--secondary {
    background-color: transparent;
    padding: 0.6rem 0;
    border-radius: 3px;

    &:hover:not(.disabled-link),
    &:focus-visible:not(.disabled-link) {
      color: var(--clr-neutral-200);

      svg > path {
        fill: var(--clr-neutral-200);
      }

      .button__prepend {
        &--no-fill {
          svg > path {
            fill: none;
            stroke: var(--clr-neutral-200);
          }
        }
      }
    }

    @include breakpoint-up(mobile-small) {
      padding: 0.6rem 0;
    }
  }

  &--unstyled {
    display: block;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  &--contact {
    padding: 0.6rem 1.5rem;
    width: 100%;

    @include breakpoint-up(tablet-medium) {
      width: auto;
    }
  }
}

.socials {
  display: inline-flex;
  gap: 2em;
  padding-left: 0.45em;
  z-index: 5;

  &__item {
    font-size: 1.6em;
  }

  &__link {
    position: relative;
    display: inline-block;
    transition: color 0.3s var(--animation-timing),
      transform 0.3s var(--animation-timing);

    svg {
      border-radius: 100%;
    }

    svg,
    path {
      transition: color 0.15s var(--animation-timing),
        background 0.15s var(--animation-timing),
        fill 0.15s var(--animation-timing), stroke 0.15s var(--animation-timing),
        transform 0.15s var(--animation-timing);
    }

    &:hover,
    &:focus-visible {
      color: var(--clr-neutral-200);
      border-color: var(--clr-neutral-200);
      transform: translateY(-0.2em);

      &::before {
        border-color: var(--clr-neutral-200);
      }

      svg {
        > path {
          fill: var(--clr-neutral-200);
        }
      }
    }

    &::before {
      content: '';
      width: calc(100% + 1rem);
      height: calc(100% + 1rem);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid white;
      border-radius: 50%;
      transition: color 0.3s var(--animation-timing),
        background 0.3s var(--animation-timing),
        fill 0.3s var(--animation-timing), stroke 0.3s var(--animation-timing),
        border 0.3s var(--animation-timing);
    }
  }
}

.disabled-link {
  // pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.skip-navigation {
  left: -999px;
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;

  &:focus,
  &:active {
    color: #fff;
    background-color: var(--clr-primary-400);
    left: 50%;
    top: 0;
    width: auto;
    height: auto;
    overflow: auto;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
    transform: translateX(-50%);
  }
}

.background-circle {
  &--relative {
    position: relative;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    // aspect-ratio: 1 / 1;
    z-index: 0;
    pointer-events: none;
  }

  &--hero::before {
    max-width: 320px;
    max-height: 239px;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;

    @include breakpoint-up(tablet-small) {
      opacity: 0.8;
      height: 100%;
      width: 100%;
    }

    @include breakpoint-up(desktop-medium) {
      max-width: 520px;
      max-height: 439px;
      height: 100%;
      width: 100%;
    }
  }

  &--hero.background-circle--visible::before {
    background-image: url('/images/hero-left-circle-purple.webp');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--hero::after {
    max-width: 264px;
    max-height: 736px;
    width: 60%;
    height: calc(100vh + 100%);
    right: 0;
    top: 0;
    opacity: 0.4;

    @include breakpoint-up(tablet-small) {
      opacity: 0.5;
      width: 100%;
    }
  }

  &--hero.background-circle--visible::after {
    background-image: url('/images/hero-right-circle-blue.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--projects::before {
    max-width: 228px;
    max-height: 952px;
    height: 70%;
    width: 40%;
    left: 0;
    top: 0;
    opacity: 0.2;

    @include breakpoint-up(tablet-medium) {
      opacity: 0.5;
      height: 100%;
      width: 100%;
    }
  }

  &--projects.background-circle--visible::before {
    background-image: url('/images/projects-left-circle-blue.webp');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--projects::after {
    max-width: 295px;
    max-height: 625px;
    height: 100%;
    width: 60%;
    right: 0;
    top: 0;
    opacity: 0.5;

    @include breakpoint-up(tablet-medium) {
      opacity: 0.8;
      height: 100%;
      width: 100%;
    }
  }

  &--projects.background-circle--visible::after {
    background-image: url('/images/projects-right-circle-purple.webp');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--projects-2::before {
    max-width: 320px;
    max-height: 912px;
    height: 40%;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0.6;

    @include breakpoint-up(tablet-medium) {
      opacity: 0.8;
      height: 100%;
      width: 100%;
    }
  }

  &--projects-2.background-circle--visible::before {
    background-image: url('/images/projects-left-circle-purple.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--projects-2::after {
    max-width: 295px;
    max-height: 948px;
    height: 60%;
    width: 100%;
    right: 0;
    bottom: 0;
    opacity: 0.2;

    @include breakpoint-up(tablet-medium) {
      opacity: 0.5;
      height: 100%;
      width: 100%;
    }
  }

  &--projects-2.background-circle--visible::after {
    background-image: url('/images/projects-right-circle-blue.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--contact::before {
    max-width: 200px;
    max-height: 689px;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0.4;
    transform: translateY(20%);

    @include breakpoint-up(tablet-small) {
      height: 100%;
      width: 100%;
    }
  }

  &--contact.background-circle--visible::before {
    background-image: url('/images/contact-left-circle-blue.webp');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--contact::after {
    max-width: 204px;
    max-height: 738px;
    width: 60%;
    height: calc(100vh + 100%);
    right: 0;
    top: 0;
    opacity: 0.6;

    @include breakpoint-up(tablet-small) {
      width: 100%;
    }
  }

  &--contact.background-circle--visible::after {
    background-image: url('/images/contact-right-circle-purple.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
