.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: background-color 0.4s var(--animation-timing),
    box-shadow 0.4s var(--animation-timing);
  box-shadow: transparent;

  &--scrolled {
    background-color: var(--clr-neutral-800);
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.9);
  }
}
