.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding-block: var(--size-500);

  &__logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1.1rem;

    > svg {
      max-width: 48px;

      @include breakpoint-up(tablet-medium) {
        gap: 1rem;
      }

      @include breakpoint-up(tablet-large) {
        max-width: 56px;
      }
    }

    &-name {
      font-size: var(--fs-400);
      font-weight: var(--fw-semi-bold);
      color: var(--clr-neutral-100);
      white-space: nowrap;

      @include breakpoint-up(mobile-medium) {
        font-size: var(--fs-450);
      }

      @include breakpoint-up(tablet-medium) {
        font-size: var(--fs-400);
      }

      @include breakpoint-up(tablet-large) {
        font-size: var(--fs-450);
      }
    }
  }

  &__list {
    display: none;
    font-size: var(--fs-nav);

    &[data-visible] {
      display: flex;
      position: fixed;
      right: 0;
      top: 0;
      background-color: var(--clr-neutral-700);
      height: 100%;
      width: 70%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      touch-action: none;
      gap: 1rem;
      animation-name: mobile-menu-slide-left;
      animation-duration: 0.5s;
      animation-timing-function: var(--animation-timing);
      animation-fill-mode: both;

      .nav__link {
        font-size: var(--fs-450);
        font-weight: var(--fw-semi-bold);
        color: var(--clr-neutral-100);
        padding: 2rem 4rem;
      }

      @include breakpoint-up(mobile-large) {
        width: 50%;
      }

      @media (orientation: landscape) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 0.5rem;
        align-content: center;

        .nav__link {
          padding: 1rem 1rem;
        }

        @media (min-width: 500px) {
          gap: 2rem;
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 9;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.6) 100%
        );
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        touch-action: none;
      }
    }

    @include breakpoint-up(tablet-medium) {
      display: flex;
      gap: 0.4rem;
    }

    @include breakpoint-up(tablet-large) {
      gap: 1rem;
    }

    @include breakpoint-up(desktop-small) {
      gap: 1.5rem;
    }
  }

  &__item {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__link {
    color: var(--clr-neutral-100);
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    display: block;

    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      border-radius: 5px;
      transition: width 0.35s var(--animation-timing);
      background-color: var(--clr-accent-200);
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__mobile-toggle {
    height: 22px;
    padding-top: 0.8em;
    padding-bottom: 1.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0;

    &:hover {
      > span {
        background-color: (var(--clr-neutral-200));
      }
    }

    > span {
      display: block;
      width: 22px;
      height: 3px;
      background-color: (var(--clr-neutral-100));
      border-radius: 3px;
      transition: background 0.3s var(--animation-timing);

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }

    &[aria-expanded='true'] {
      z-index: 11;
      position: sticky;
      right: 23px;

      > span {
        width: 24px;
        height: 2px;
        background-color: var(--clr-neutral-100);
      }

      > span:nth-child(1) {
        transform: rotate(45deg) translate(3px, 3px); // 3 8
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -4px); // -1 -4
      }
    }

    @include breakpoint-up(tablet-medium) {
      display: none;
    }
  }
}

@keyframes mobile-menu-slide-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
