.projects {
	background-color: var(--clr-neutral-900);
	padding-block: var(--size-600);

	&__title {
		font-size: var(--fs-secondary-heading);
		font-weight: var(--fw-bold);
		color: var(--clr-neutral-100);
	}
}

.project {
	display: flex;

	// &:nth-child(even) > &__image {
	// 	order: 1;
	// }

	&__number {
		color: var(--clr-secondary-400);
	}

	&:nth-child(even) &__number {
		color: var(--clr-primary-400);
	}
}
