.skills {
  padding-block: var(--size-600);
  background-color: var(--clr-neutral-800);

  @include breakpoint-up(mobile-small) {
    padding-block: var(--size-600);
  }

  @include breakpoint-up(mobile-large) {
    padding-block: var(--size-700);
  }

  @include breakpoint-up(tablet-small) {
    padding-block: var(--size-800);
  }

  &__item {
    height: 100px;
    width: 250px;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 25%;
    transition: filter 0.3s var(--animation-timing),
      opacity 0.3s var(--animation-timing);

    &:hover {
      filter: grayscale(0);
      opacity: 100%;
      // filter: drop-shadow(0 0 2em var(--skill-colour));
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      background: linear-gradient(
        to right,
        var(--clr-neutral-800) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      content: '';
      height: 100%;
      position: absolute;
      width: 150px;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }
  }

  &__list {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(250px * 14);
    // justify-content: space-between;
    // justify-items: center;

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 7));
      }
    }

    // @include breakpoint-up(mobile-large) {
    //   gap: 1.5em;
    // }

    // @include breakpoint-up(tablet-small) {
    //   gap: 2.5em;
    // }
  }
}
