.skills {
	padding-block: var(--size-600);
	background-color: var(--clr-neutral-800);

	@include breakpoint-up(mobile-medium) {
		padding-block: var(--size-600);
	}

	@include breakpoint-up(mobile-large) {
		padding-block: var(--size-700);
	}

	@include breakpoint-up(tablet-small) {
		padding-block: var(--size-800);
	}

	&__item {
		text-align: center;
	}

	&__image {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	&__list {
		display: grid;
		gap: 1em;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;

		@include breakpoint-up(mobile-large) {
			gap: 1.5em;
		}

		@include breakpoint-up(tablet-small) {
			gap: 2.5em;
		}

		@include breakpoint-up(desktop-small) {
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			gap: 1em;
		}
	}
}
