.skills {
  background-color: var(--clr-neutral-800);

  &__item {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: var(--size-600);
    user-select: none;

    @include breakpoint-up(mobile-small) {
      margin-block: var(--size-600);
    }

    @include breakpoint-up(mobile-large) {
      height: 75px;
      width: 100px;
      margin-block: var(--size-700);
    }

    @include breakpoint-up(tablet-small) {
      margin-block: var(--size-800);
    }

    @include breakpoint-up(tablet-medium) {
      height: 100px;
      width: 250px;
    }
  }

  &__image {
    height: 100%;
    width: auto;
    object-fit: contain;
    user-select: none;
    filter: grayscale(100%) drop-shadow(0 0 0em var(--skill-colour));
    opacity: 25%;
    will-change: filter;
    transition: opacity 0.3s var(--animation-timing),
      filter 0.3s var(--animation-timing);

    &:hover {
      filter: grayscale(0%) drop-shadow(0 0 1em var(--skill-colour));
      opacity: 100;

      @include breakpoint-up(tablet-medium) {
        filter: grayscale(0%) drop-shadow(0 0 1.5em var(--skill-colour));
      }
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      background: linear-gradient(
        to right,
        var(--clr-neutral-800) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      content: '';
      height: 100%;
      position: absolute;
      width: 75px;
      z-index: 2;

      @include breakpoint-up(mobile-large) {
        width: 100px;
      }

      @include breakpoint-up(tablet-medium) {
        width: 150px;
      }
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }
  }

  &__list {
    --item-gap: 3rem;
    display: flex;
    animation: scroll 20s linear infinite;
    gap: var(--item-gap);
    width: calc(100px * 16);

    @include breakpoint-up(mobile-large) {
      width: calc(100px * 16);
    }

    @include breakpoint-up(tablet-medium) {
      width: calc(250px * 16);
      --item-gap: 4rem;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-100px * 8 - (var(--item-gap) / 2)));
      }
    }

    @include breakpoint-up(mobile-large) {
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-100px * 8 - (var(--item-gap) / 2)));
        }
      }
    }

    @include breakpoint-up(tablet-medium) {
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-250px * 8 - 2em));
        }
      }
    }
  }
}
