// Colours
:root {
	--clr-primary-400: #2f3dbb;
	--clr-secondary-400: #c150ac;

	--clr-accent-200: #6874e8;
	--clr-accent-400: #2b37aa;
	--clr-accent-500: #20297f;
	--clr-accent-600: #772a69;
	--clr-accent-800: #1c275e;
	--clr-accent-900: #2f182d;

	--clr-neutral-100: #ffffff;
	--clr-neutral-200: #cccccc;
	--clr-neutral-700: #252630;
	--clr-neutral-800: #181920;
	--clr-neutral-900: #0f1014;

	// Typography

	--ff-primary: 'Montserrat', sans-serif;

	--ff-body: var(--ff-primary);
	--ff-heading: var(--ff-primary);

	--fw-regular: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	--fs-200: 0.875rem; // 14px
	--fs-300: 0.9375rem; // 15px
	--fs-400: 1rem; // 16px
	--fs-500: 1.25rem; // 20px
	--fs-550: 1.8rem; // 28px
	--fs-600: 2rem; // 32px
	--fs-700: 2.5rem; // 40px
	--fs-800: 3rem; // 48px

	--fs-body: var(--fs-300);
	--fs-primary-heading: var(--fs-550);
	--fs-secondary-heading: var(--fs-600);
	--fs-nav: var(--fs-400);
	--fs-button: var(--fs-300);

	--lh-body: 1.625; // 26px
	--lh-headings: 1.5; // 26px | 3 for 48px

	--size-100: 0.25rem;
	--size-200: 0.5rem;
	--size-300: 0.75rem;
	--size-400: 1rem;
	--size-500: 1.5rem;
	--size-600: 2rem;
	--size-700: 3rem;
	--size-800: 4rem;
	--size-900: 5rem;
}

// Change typography for small phones
@media (min-width: 22.5em) {
	:root {
		--fs-primary-heading: var(--fs-600);
	}
}

// Change typography for medium phones
@media (min-width: 26.5625em) {
	:root {
		--fs-primary-heading: var(--fs-700);
	}
}

// Change typography for large phones
@media (min-width: 30em) {
	:root {
		--fs-primary-heading: var(--fs-700);
	}
}

// Change typography for tablet
@media (min-width: 64em) {
	:root {
		--fs-primary-heading: var(--fs-700);
		--fs-body: var(--fs-400);
		--fs-button: var(--fs-400);
	}
}

// Change typography for desktop
@media (min-width: 90em) {
	:root {
		--fs-primary-heading: var(--fs-800);
	}
}
